#id1
{
    background-color: blue;
}
#id2
{
    width: 600px;
    height: 600px;
    border: rgb(29, 116, 247);
    background-color: rgb(29, 116, 247);
    margin-left: 400px;
    padding-inline-start: 25px;
    padding-top: 20px;
}

#id5{
    border-color: tomato;
}
#id6{
    border-color: yellowgreen;
}
#id4
{
    border-radius: 15px;
    background-color: green;
    color: white;
    margin-left: 480px;
    width: 100px;
    height: 35px;
}