#id1{
    background-color: white;
    margin-left: 500px;
    height: 500px;
    width: 415px;
}
#id2{
    background-color: rgba(94, 90, 90, 0.521) ;
    text-align: center;
    margin-left: 100px;
    height: 35px;
}