#id1
{
    width:100%;
    height:200px;
    border:0px solid;
    margin-top:30px;
    
}
h1
{
    text-transform: uppercase;

}
h3{
    font-weight: normal;
    
}

#id2
{
    padding:5px;
    padding-right:20px;
    padding-left:20px;
    background-color:rgb(52, 101, 165);
    color:white;
    margin-left:10px;
}
.c1
{
    display: inline-block;
  width:100%;
  height:500px;
  border:0px solid;
  background-image: url('Contact-form2.jpeg');
background-repeat: no-repeat; 
background-size:100% 100%;
/*  position: relative;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
}
.c1::before{content:"";
background-image: url('Contact-form2.jpeg');
background-repeat: no-repeat; 
background-size:100% 100%;
position:absolute;
left:0;
top:0;
right:0;
bottom:0;*/

}
#id3
{
position:relative;
left:13px;

}
#id4
{
margin-left:135px;
}
input[type=text],input[type=email],input[type=number]
{
width:150px;
height:35px;
}
#id5
{
margin-left:10px;
}
#id6
{
margin-left:10px;
}
#id7
{
position: relative;
left:-110px;
}
#id8
{
position: relative;
left:-205px;
}
#id9
{
position: relative;
left:0px;
}
button{
padding:5px;
padding-right:15px;
padding-left:15px;
background-color:rgb(52, 101, 165) ;
color:white;
}
#id10
{
    width:250px;
    height:30px;

}
